{
  "presets": [
    "es2015",
    "stage-1"
  ],
  "plugins": [["inferno", {
        "imports": true,
        "pragma": ""
    }]],
  "compact": "false",
  "env": {
    "production": {
      "plugins": [
        "transform-flow-strip-types",
        "array-includes"
      ]
    },
    "commonjs": {
      "plugins": [
        ["transform-es2015-modules-commonjs", { "loose": true }]
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ],
      "sourceMaps": "both"
    }
  }
}
